.site-logo {
  width: 50px;
  height: 50px;
}

.nav-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

.nav-ul {
  display: flex;
}
.nav-link {
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.btn-login {
  background-color: transparent;
  font-size: 1.1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  margin-left: 0.6rem;
}
